html, body, figure, figcaption, ul, li, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
}


.hanoi {
  margin: 30px auto;
  width: 600px;
}


ul {
	padding: 0px 0px 10px 0px;
	width: 180px;
	list-style: none;
	margin: 0px 10px;
	float:left; 
	cursor: pointer;
	border-bottom: 10px solid black;
}

ul:hover{
	border-color: blue;
}

ul.selected{
	border-color: green;
}


li {
	width: 0px;
	height: 15px;
	background: gold;
	border-radius: 25px;
	margin: 20px auto;
	border: gray;
	border-width: ;

}

li.disk-1{
	width: 40px;
}
li.disk-2{
	width: 70px;
}
li.disk-3{
	width: 100px;
}

h1 {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 50px;
}

h2 {
	font-size: 30px;
	font-family: Arial, sans-serif;
	text-align: center;
}

.cf:after{
	content:"";
	display:block;
	clear:both;
}

